*.bin
*.dfu
*.elf
*.mac
*.exe
*.list
*.gz
*.map
*.dSYM
*.fs_wrapper
src/objs/
utils/genspeech/mp3
utils/genspeech/*.ini
utils/genspeech/*.zip
##src/gz*
##src/elf*
#src/push
#push
*.o
#utils/midicsv/csvmidi
#utils/midicsv/midicsv
#utils/multi-module/programmer/objs
#.cproject
#.project
#.settings/org.eclipse.cdt.*
#src/beta-*
/local/
coverage/

.vs*/
src/filesystem/
src/target/common/

src/cov-int/
*.dll
*~
*.pyc
*.zip
.DS_Store
